@font-face {
    font-family: 'Blackbird';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Blackbird/Blackbird.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Blackbird/Blackbird.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Blackbird/Blackbird.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Blackbird/Blackbird.ttf') format('truetype');
}
